body {
    background-color: #010203;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.nav {

    width: 100%;
    flex-shrink: 0;
    background-color: #070D13;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 15px 0px #233F59;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.espaco {

    padding-left: 3%;
}

.display {
    display: inline;

}

.textonav {
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}


.textonavlogo {
    color: #3D95E8;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1%;
}

nav>div {
    display: flex;
    align-items: center;

}

.textopag1h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.textopag1h1 {
    color: #3D95E8;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.textopag1h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.margin {
    margin-left: 10%;
    margin-right: 10%;
}

.botao {
    width: 100%;
    height: 4.3125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #010203;
    border: solid 3px #3D95E8;
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    transition: transform .2s;
    display: inline-block;
}

button:hover {
    transform: scale(1.1);
}



.botaop {
    width: 8rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #010203;
    border: solid 3px #3D95E8;
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    transition: transform .2s;

}

.centralizarimg {
    padding-bottom: 2.7%;
}

.alinharfoto {
    display: flex;
    align-items: center;
    justify-content: center;
}



.textorolepg1 {
    color: #FFF;
    font-family: Inter;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: row;
}

.igualar {
    flex-grow: 1;

}

.titulopg2 {
    color: #FFF;
    font-family: Inter;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.bordapg2 {
    border-radius: 0.9375rem;
    border: 3px solid #D9D9D9;
    background: #010203;
    box-shadow: 0px 0px 10px 0px #FFF;
}

#page3 {
    padding-top: 8%;
}

.textopg2 {
    color: #FFF;
    font-family: Inter;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.titulopg3 {
    color: #FFF;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.divisao3 {
    border-radius: 1.875rem 0rem;
    background-color: #070D13;
    width: 98%;
    border: solid 1px #fff;
    box-shadow: 0px 0px 5px 0px #FFF;
    height: 100%;
    box-sizing: border-box;
    flex-basis: calc(33.33% - 2%);
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}



.divisao3:last-child {
    margin-right: 0;
}


.linhap {
    border: none;
    border-top: 2px solid #D9D9D9;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 0px 15px #D9D9D9;
}

.textoprojetos {
    color: #FFF;
    font-family: Inter;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5%;
    height: 50%;
    flex: 1;
}


.fundolinguagens {
    background-color: #070D13;
    border-radius: 15px;
    width: 9.125rem;
    height: 8.5625rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    cursor: pointer;
}

.fundolinguagens:hover {
    transform: scale(1.1);
}

.distanciafundo {
    margin-top: 10%;
}

.alinhardiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhardivdireita {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 33%;
}

#textolinguagens {
    color: #FFF;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#html,
#css,
#js,
#figma,
#sql,
#php {
    margin: 2%;
}

#tempoexperiencia {
    color: #FFF;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
}

.footer {
    background-color: #070D13;
    box-shadow: 0px 1px 15px 0px #233F59;
    border-top: solid 1px #D9D9D9;
    text-align: center;
}

.developed {
    display: flex;
    justify-content: right;
    padding-right: 3%;
    padding-top: 6%;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.alinharesquerda {
    display: flex;
    justify-content: left;
    flex: 1;
}

.footerobjetos {
    width: 100%;
    background-color: #070D13;
}

.distanciaimgs {
    display: inline;
    margin-right: -2%;
}

.textofooter1 {
    color: #FFF;
    font-family: Inter;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.textofooter2 {
    color: #5A5A5A;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.emailfooter {
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 1%;
    padding-left: 1.3%;
    padding-right: 1.3%;
}

.dev {

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

a:hover {
    color: #3D95E8;
}

a {
    transition: 0.3s;
    text-decoration: none;
}

.hover {
    transition: 0.3s;
    background-color: #060b0f;
    font-size: 2rem;
}

.esquerda {
    padding-left: 5%;
    justify-content: left;
}

.direita {
    width: 100%;
    text-align: right;
    display: inline;
}

.ulnoresponsive {
    display: inline;
    text-align: right;
    margin-right: 5%;
    width: 100%;
    padding: 1.3%;
}

.menumobile {
    display: none;
    padding-top: 12%;
    position: fixed;
    top: 0;
    background-color: #070D13;
    right: 0;
    box-shadow: 0px 1px 15px 0px #233F59;
    width: 100%;
    z-index: 1;
}

.headermobile {
    display: none;
}

.mobilemenuicon {
    display: none;
}


.nav.noshadow {
    box-shadow: none;
}


@media screen and (max-width:650px) {
    .display {
        display: none;
    }

    .headermobile {
        display: block;
    }

    .mobilemenuicon {
        display: block;
        justify-content: flex-end;
        padding-right: 2%;
    }

    .mobilemenuicon button {

        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menumobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobilemenu .navrespo {
        display: block;
    }

    .open {
        display: block;
    }

    #page1 {
        padding-top: 25%;
    }

    #deletardivmedia {
        display: none;
    }

    #responsivopg2 {
        display: flex;
        align-items: center;
        padding-top: 15%;
    }

    #imagenspg1 {
        width: 100%;
    }

    .imagemp {
        height: 50%;
        margin: 2%;

    }



    #imagens1pg1 {
        width: 100%;
        display: flex;
        justify-content: left;
    }

    #roleparabaixo {
        display: none;
    }

}
.arredondar {
    border-radius: 30px 0px;
}
#page2 {
    padding-top: 10%;
}

#projetosresponsivo {
    display: none;
    border: solid 3px #233F59;
    box-shadow: 0px 0px 15px #233F59;
}

.bordapresponsivo {
    height: 33.3%;
    display: flex;
    border: solid 2px #233F59;
}

.alinharimgpresponsivo {
    width: 40%;
    align-items: center;
    display: flex;
}

#page4 {
    padding-top: 10%;
}

@media screen and (max-width: 600px) {
    .alinhardiv {
        display: flex;
        justify-content: right;
    }

    .display600 {
        display: none;
    }

    #projetosresponsivo {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .botao {
        font-size: 1.3rem;
    }

    .diminuirresponsivo {
        font-size: .8rem;
    }

    .textopg2 {
        font-size: 1.1rem;
    }

    .esconderdivsinverso {
        display: none;
    }

    #textolinguagens {
        font-size: 1.1rem;
    }

}

.textopresponsivo450 {
    color: #fff;
    width: 60%;
}

@media screen and (max-width: 680px) {

    #diminuir {
        scale: 0.8;

    }

}

@media screen and (max-width: 600px) {
    #esconderdivs {
        display: block;
    }

    .esconderbaixo {
        display: none;
    }

    .reverse {
        display: flex;
        flex-direction: column;
    }
}





@media screen and (min-width: 601px) {
    #esconderdivs {
        display: none;
    }
}

@media screen and (min-width: 1400px) {

    #imagenspg1 {
        justify-content: left;
        display: flex;
    }

}